.Body {

    .container.fade {
        animation: zoomOutUp;
        animation-duration: 1s;
    }

    .container {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 0px;
        gap: 32px;

        position: absolute;
        width: 1286px;
        height: 640px;
        left: 112px;
        top: 152px;

        animation: zoomIn;
        animation-duration: 1s; 

        .container_text {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 96px 48px 0px 0px;
            gap: 52px;
            width: 766px;
            height: 310px;
            flex: none;
            order: 0;
            flex-grow: 0;
            animation: fadeInUp;
            animation-duration: 0.5s; 

            .header {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                padding: 0px;
                width: 648px;
                height: 216px;
                flex: none;
                order: 0;
                align-self: stretch;
                flex-grow: 0;

                animation: zoomInLeft;
                animation-duration: 1.5s;

                h1 {
                    padding: 0;
                    margin: 0;
                    font-family: 'SF Pro Text Semibold';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 60px;
                    line-height: 72px;
                    letter-spacing: 0.025em;
                    font-feature-settings: 'liga' off;
                    color: #111827;
                    flex: none;
                    order: 0;
                    align-self: stretch;
                    flex-grow: 0;
                }

                h4 {
                    font-family: 'SF Pro Rounded';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 28px;
                    font-feature-settings: 'liga' off;
                    color: #9E9E9E;
                    flex: none;
                    order: 1;
                    align-self: stretch;
                    flex-grow: 0;
                }
            }

            .cta {
                display: flex;
                flex-direction: row;
                align-items: center;
                padding: 0px;
                gap: 16px;
                width: 140px;
                height: 56px;
                flex: none;
                order: 1;
                flex-grow: 0;

                animation: zoomInLeft;
                animation-duration: 1.5s;

                span {
                    position: relative;
                    outline: none;
                    overflow: hidden;
                    border: none;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    padding: 0px;
                    // width: 138px;
                    // height: 56px;
                    cursor: pointer;
                    // background-color: #3D9090;
                    background: none;
                    // border-radius: 8px;
                    flex: none;
                    order: 0;
                    flex-grow: 0;

                    a {
                        text-decoration: none;
                        font-family: 'SF Compact Display';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 21px;
                        line-height: 133.84%;
                        letter-spacing: 0.055em;
                        text-transform: uppercase;
                        color: #3D9090;
                        transition: all 0.3s ease;
                        padding-left: 3px;
                        padding-right: 3px;
                    }
                }

                span::after {
                    content: '';
                    position: absolute;
                    z-index: -1;
                    inset: 92% 0 0 0;
                    background: #3D9090;
                    border-radius: 2px;
                    transition: .3s;
                }
        
                span:hover a {
                    color: #ffffff;
                }
        
                span:hover::after {
                    inset: 0 0 0 0;
                }
            }
        }
    }

    .container_img {
        width: 488px;
        height: 640px;
        padding: 0;
        margin: 0;
        display: flex;
        order: 1;
        flex-grow: 0;
        justify-content: center;
        align-items: center;

        animation: fadeInUp;
        animation-duration: 0.5s; 
        

        .screen {
            display: flex;
            flex-direction: column;
            width: 350px;
            height: 600px;
            left: 17px;
            top: -87px;
            background: #FFFFFF;
            border: 1.18798px solid rgba(0, 22, 10, 0.1);
            box-shadow: -50px 38px 38px rgba(0, 22, 10, 0.1);
            border-radius: 61.874px;
            align-items: center;
            text-align: center;

            img {
                width: 350px;
                height: 350px;
                margin-top: -30px;
                animation: zoomInRight;
                animation-duration: 1.5s;
            }

            h3 {
                font-family: 'SF Pro Text Semibold';
                font-weight: 800;
                font-size: 24px;
                line-height: 58px;
                letter-spacing: 0.025em;
                color: #060016;
                animation: zoomInRight;
                animation-duration: 1.5s;

                span {
                    color: #3D9090;
                }
            }

            p {
                max-width: 200px!important;
                font-family: 'SF Pro Rounded';
                font-weight: 400;
                font-size: 15px;
                line-height: 25px;
                letter-spacing: 0.01px;
                color: #9E9E9E;
                margin-top: -7%;
                animation: zoomInRight;
                animation-duration: 1.5s;
            }

            .buttons {
                display: flex;
                flex-direction: column;
                gap: 15px;
                animation: zoomInRight;
                animation-duration: 1.5s;
            }

            .button {
                display: flex;
                border: none;
                height: 50px;
                width: 220px;
                background: #060016;
                border-radius: 8px;
                transition: .2s ease;
                align-items: center;
                justify-content: center;
                text-align: center;
                overflow: hidden;
                cursor: pointer;
                img {
                    width: 30px;
                    height: 30px;
                    margin-top: 0;
                    transition: .4s ease;
                    opacity: 0;
                    visibility: hidden;
                }
                a {
                    position: absolute;
                    font-family: 'SF Pro Rounded';
                    text-decoration: none;
                    font-style: normal;
                    font-weight: 700;
                    font-size: 22.2246px;
                    line-height: 33px;
                    color: #FFFFFF;
                    transition: .2s ease;
                }
                &:hover {
                    background: #3D9090;
                }
                &:hover a {
                    transform: translateX(-20px);
                }
                &:hover img {
                    opacity: 1;
                    visibility: visible;
                    transform: translateX(65px);
                }
            }
            .button2 {
                display: flex;
                border: none;
                height: 50px;
                width: 220px;
                border-radius: 8px;
                transition: .2s ease;
                align-items: center;
                justify-content: center;
                text-align: center;
                overflow: hidden;
                cursor: pointer;
                background: transparent;
                img {
                    width: 30px;
                    height: 30px;
                    margin-top: 0;
                    transition: .4s ease;
                    opacity: 0;
                    visibility: hidden;
                }
                a {
                    position: absolute;
                    font-family: 'SF Pro Rounded';
                    text-decoration: none;
                    font-style: normal;
                    font-weight: 700;
                    font-size: 22.2246px;
                    line-height: 33px;
                    color: #000000;
                    transition: .2s ease;
                }
                &:hover a {
                    transform: translateX(-20px);
                }
                &:hover img {
                    opacity: 1;
                    visibility: visible;
                    transform: translateX(65px);
                }
            }
        }
    }
}